

html, body {
  height: 100%;
  margin: 0;
  background: var(--bg);
  color: var(--fg);
  font: 16px/1.5 system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}

.pet-list {

display: flex;
margin: 30px;
flex-flow: row wrap;
justify-content: space-evenly;
border: 1px solid #e3e3e3;
}

.pet-card {

position:relative;
display: flexbox;
margin: 10px;
padding: 15px;
width: 300px;
height: 400px;
border: 1px solid #e3e3e3;

}

.pet-card h2 {

margin-top: 0;

}

.card-link {

position: absolute;
bottom: 15px;
left: 15px;

}

.available-or-not {

position: absolute;
bottom: 30px;

text-align: center;

}

.image-wrapper {

width: 100%;
height: 200px;
overflow: hidden;

}

.image-wrapper img {

width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
display: block;

}