<!doctype html>
  <html lang="de">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <title>Adoptify</title>
    </head>


  {% if session['user'] %}
    <!-- Code, der nur für eingeloggte Benutzer angezeigt wird -->
    <p>Willkommen, {{ session['user'] }}!</p>
    <a href="/logout">Abmelden</a>

  {% else %}

    <body>

      <header class="site-header">
        <nav class="nav">
          <div class="brand">
            <a href="{{ url_for('index') }}" class="brand-name">Adoptify</a>
            <span class="slogan">Love is great when you find someone to give it to</span>
          </div>

          <ul class="nav-links">
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Registrieren</a></li>
          </ul>
        </nav>
      </header>


        {% block content %}
        {% endblock %}
   
    </body>

  {% endif %}


  </html>
